body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Courier New, Courier, monospace;
    
}

.avatar {
    width: 150px;
    border-radius: 100px;
    box-shadow: 5px 3px 5px #0fa;
}

.avatar:hover {
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1);
    border-radius: 100%;
    box-shadow: 5px 3px 5px #0fa;
  }
  100% {
    transform: scale(1.2);
    box-shadow: -5px -3px 5px #0fa;
  }
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #000;
    color: #433c28;
    /*border-bottom: 6px solid #ff7e00;
    border-top: 6px solid #a39881;
    border-right: 6px solid #a39881;
    border-left: 6px solid #ff7e00;*/
    box-shadow: 5px 3px 5px grey;
    
    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.neonText {
  color: #fff;
  text-shadow: 
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h3 {
  animation: flicker 1.5s infinite alternate;     
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow: 
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

p {
    animation: pulsate 0.11s ease-in-out infinite alternate;
}

h4 {
    animation: pulsate 0.11s ease-in-out infinite alternate; 
}

@keyframes pulsate {
    
  100% {

      text-shadow: 
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa
  
  }
  
  0% {

}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

